* {
    z-index: 1;
}

header {
    background-color: #55595c;
    height: 50px;
    position: initial;
    top: 0;
    width: 100%;
}

#header-logo {
    font-size: 1.56em;
}

#header-item {
    font-size: .8em;
}

/* Conteudo principal */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vw;
}

.login-box {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #ffffff;
    width: fit-content;
    align-items: center;
    padding: 4em 8em;
    border-radius: .5em;
    overflow:hidden;
    box-shadow: 3px 3px 8px rgba(87, 86, 86, 0.637);
}

.login-box::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 62em;
    overflow: hidden;
    margin-top: -20em;
    background: linear-gradient(rgba(200, 0, 255, 0.746), rgb(0, 140, 255));
    animation: animate 6s linear infinite; 
}

.login-box::after {
    content: '';
    position: absolute;
    inset: 4px;
    background:#ffffff;
}

@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }    
    100%
    {
        transform: rotate(360deg);
    }
}

.login-box-title {
    color: #357AE2;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    text-decoration: underline;
    text-transform: uppercase;
}

.forms { margin-top: 1em; }

.forms > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: .7em;
}

.input-field {
    border: none;
    outline: none;
    background-color: #70798b46;
    color: #3b3b3b;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.form-image {
    margin-left: 10px;
}

.login-button {
    background-color: #c9c7c7;
    border-radius: 3em;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #303030;
    padding: .4em 1.7em;
    margin-top: .5em;
    cursor: pointer;
    transition: .15s;
}

.login-button:hover {
    transform: scale(1.1);
    background-color: #3787ff;
    color: #fff;
}