header {
    background: #000000 url(../../assets/Icons/icon-white.png);
    height: 50px;
    position: initial;
    top: 0;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-logo {
    font-size: 1.56em;
}

#header-item {
    font-size: .8em;
}

.geren-header {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    height: 2.3em;
    width: 40em;
    justify-content: space-between;

    font-family: 'ubuntu';
    font-size: 26px;
    font-weight: 600;
    color: #1E598F;
}

.search-bar {
    display: flex;
    flex-direction: row;

    height: 1.2em;
    width: fit-content;
}

.search-bar img{
    height: 1.05em;
    border-radius: 0em .5em .5em 0em;
    background-color: #9f92923e; 
}

.input-field {
    height: 2em;
    width: 14.4em;
    border-radius: 1em 0em 0em 1em;
    padding: .5em;
    background-color: #9f92923e;
    outline: none;
    border: none;
}

.main-table-cont {
    display: flex;
    height: fit-content;
    width: 75em;
    height: 30em;
    padding: 1em;
    background: #a79b9b5b;
    flex-direction: row;
    justify-content: space-between;
}


.main-table-cont-header{
    display: flex;
    width: 68em;
    flex-direction: row;
    margin-left: 4em;
}



