/* MAIN */
main{
    max-width: 960px;
    display: flex;
    flex-direction: column;
}

    /* INICIAL */
.inicial {
    width: 100vw;
    height: 700px;
    background: url(../../assets/images/bmw-back.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.card {
    margin-left: 4vw;
    width: 33vw;
    height: fit-content;
}

.inicial-title {
    color: #fff;
    font-family: 'Roboto';
    font-size: 40px;
    padding: .7em 0em;
}

.presentation-text {
    color: #fff;
    font-family: 'Roboto';
    font-size: 20px;
}

.presentation-btn {
    color: #fff;
    background-color: #00000013;
    font-family: 'Roboto';
    font-size: 25px;
    border: none;
    border-radius: 60px;
    border: 2.5px white solid;
    padding: .3em 1.2em;
    margin: 1em 0em;
    box-shadow: -4px 6px 20px #000000b2;
    transition: .3s ease-in-out;
    margin-bottom: 2em;
}

.presentation-btn:hover {
    transform: scale(1.08);
    background-color: #fff;
    color: #0952f0;
    box-shadow: -4px 6px 20px #ffffff0c;
}

    /* PAGE ONE */
.page-one{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.items-page-one{
    margin-top: 40px;
}

.linha{
    border-top: 8px solid #5e72e4;
    padding: 0px 200px;
}

.titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titles h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 4em;
    width: 7em;
    color: #5e72e4;
}

.p1-subtitles {
    text-align: center;
    color: #9a9ca7;
    font-family: sans-serif;
}

.p1-para{
    font-family: sans-serif;
    color: #9a9ca7;
}

.p1-text {
    color: #0952f0;
    font-family: sans-serif;
}

.car img{
    height: 300px;
}

.car{
    margin-left: 15em;
}

.listra-fundo{
    margin-top: 140px;
    margin-left: 835px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.items-page-one{
    display: flex;
    flex-direction: row;
}

.redes-sociais{
    margin-top: 40px;
}

.fa{
    margin: 20px;
    font-size: 20px;
    color: #9a9ca7;

}





    /* PAGE TWO */


.page-two{
    max-width: 960px;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

.items-page-two{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.paraph{
    align-items: center;
    width: 420px;
}

.car2 img{
    position: absolute;
    right: 70px;
    height: 400px;
    width: 700px;
}

span{
    color: #5e72e4;
}

.title-two h1{
    font-family: sans-serif;
    font-size: 4em;
    width: 8em;
    
    color: black;
}

.btn a{
    margin-top: 30px;
    background-color: #5e72e4;
    padding: 10px 40px;
    color: #ffffff;
    font-family: sans-serif;
}




    /* PAGE THREE */



/* .page-three{
    width: 100vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
    
}


.painel-principal{
    background-color: #E5E5E5;
}

.painel-principal h1{
    font-family: sans-serif;
}

.items-three{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.car-turning{
    margin-left: 50px;
}

.title-page-three-items{
    font-family: sans-serif;
} */



/* PAGE FOUR */

.page-four {
    width: 100vw;
    height: 700px;
    background: url(../../assets/images/bmw-left.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-four{
    color: #0952f0;
    font-family: 'Roboto';
    font-size: 40px;
    padding: .7em 0em;
}

.card-form{
    background-color: rgba(0, 0, 0, 0.32);
    margin-left: 4vw;
    width: 33vw;
    padding: 2em;
    height: fit-content;
    border-radius: 40px;
}

.email{
    width: 100%;
    max-width: 550px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    height: 40px;
    padding-left: 10px;
    border: 2.5px white solid;
    box-shadow: -4px 6px 20px #00000011;
}
.email:hover{
    transform: scale(1.08);
}

/* Botao da pagina four */
.contact-btn{
    text-align: center;
    font-family: 'Roboto';
    font-size: 25px;
    text-decoration: none;
    transition: .3s ease-in-out;
    margin-bottom: 2em;
    box-shadow: -4px 6px 20px #000000b2;
    text-decoration: none;
    
}

.contact-btn a{
    color: #ffffff;
}

.contact-btn{
    background-color: #5e72e4;
    padding: 10px 40px;
    color: #ffffff;
    font-family: sans-serif;
}

.contact-btn a:hover {
    transform: scale(1.08);
    background-color: transparent;
    color: #000000;
    box-shadow: -4px 6px 20px #ffffff0c;
}




/*voltar ao topo - botão*/
#return {
    width: 30px;
    height: 30px;
    background-color: yellow;
    border-radius: 40px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: none;
}

#return img {
    width: 70%;
}


/* RESPONSIVIDADE */
@media (max-width: 800px){
    .items-page-one{
        flex-direction: column;
    }

    .items-page-two{
        flex-direction: column;
    }

    .page-three{
        display: none;
    }

    .btn{
        margin-top: 20px;
    }

    .car2 img{
        height: 300px;
        width: 350px;
    }

    .title-two{
        display: flex;
        flex-wrap: wrap;
    }

    .car{
        margin-left: 4em;
    }

}


@media (max-width: 460px){

    .items-page-one{
        flex-direction: column;
    }

    .items-page-two{
        flex-direction: column;
    }

    .page-three{
        display: none;
    }

    .btn{
        margin-top: 20px;
    }

    .car2 img{
        height: 300px;
        width: 350px;
    }

    .title-two{
        display: flex;
        flex-wrap: wrap;
    }

    .car{
        margin-left: 4em;
    }

    .listra-fundo{
        display: none;
    }
}