body {
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: #528FEC;
}

.loading-tittle {
    font-family: 'Roboto';
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    margin: 6em 0em 0em 0em;
}

.loading-animation {
    content: '';
    margin-top: 1em;
    position: absolute;
    overflow: hidden;
    animation: animate 1.8s linear infinite; 
}

@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }    
    100%
    {
        transform: rotate(360deg);
    }
}
