
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li {
    list-style: none;
    margin: 4px;
}