/* HEADER */
header {
    background-color: #010d165e;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100vw;
    padding: 0 30px;
    top: 0;
    z-index: 1;
    position: fixed;
    transition: .3s;
}

header * {
    color: #fff;
}

#user{
    height: 30px;
    width: 30px;
    transform: none;
    transition: .3s;
}

#header-item {
    transform: none;
    transition: .3s;
}

.fonts-p1{
    font-family: 'Roboto';
    font-size: inherit;
    margin: 0 10px;
    transition: .1s ease-in-out;
}

.fonts-p1:hover {
    transform: scale(1.1);
}

#header-logo {
    font-size: 2.25em;
    font-weight: bold;
    text-decoration: none;
}

.menu-bg{
    background-color: #2c70ff;
}

.menu-nav ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.menu-nav a {
    font-size: 1.25em;
    display: block;
    padding: 5px;
    transition: .2s;
}

.fb {
    color: #fff;
    background-color: #00000000;
    font-size: 35px;
    text-decoration: none;
    transition: .1s ease-in-out;
}

.fb:hover {
    color: #6b85f7;
    text-decoration: underline;
}

.menu-nav a:hover {
    color: #6b85f7;
    text-decoration: underline;
}


/* Celular - portrait */
@media all and (max-width: 500px) {
    header {
        background-color: #55595c;
        height: max-content;
        width: 31em;
        padding: 5px 10px;
        height: min-content;
    }

    #header-logo {
        font-size: 1.4em;
        margin-right: 35px;
    }

    #header-item {
        font-size: .8em;
        margin: 0;
    }

    .fonts-p1 {
        margin: 0;
    }

    #user {
        transform: scale(0.65);
    }
}

/* Celular - landscape */
@media all and (max-width: 767px) and (max-height: 480px) {
    header {
        background-color: #55595c;
        height: 50px;
        position: initial;
        top: 0;
        width: 100%;
    }

    #header-logo {
        font-size: 1.4em;
    }

    #header-item {
        font-size: .8em;
    }

    #user {
        transform: scale(0.65);
    }
}

/* Tablet */
@media all and (max-width: 768px) {
    header {
        background-color: #55595c;
        height: max-content;
        position: initial;
        top: 0;
        width: 100%;
    }

    #header-logo {
        font-size: 1.56em;
    }

    #header-item {
        font-size: .8em;
    }

    #user {
        transform: scale(0.75);
    }
}

/* Tablet - portrait */
@media all and (max-width: 1024px) and (min-width: 768px) {
    header {
        background-color: #55595c;
        height: 50px;
        position: fixed;
        top: 0;
        width: 100%;
    }

    #header-logo {
        font-size: 1.56em;
    }

    #header-item {
        font-size: .8em;
    }

    #user {
        transform: scale(0.75);
    }
}