body {
    display: flex;
    flex-direction: column;
    background-color: #3a81edcf;   
}

main {
    display: flex;
    flex-direction: row;
}

.btns-main-cont {
    display: flex;
    flex-direction: column;
    height: 40.8em;
    align-items: center;
    background-color: #0b0b0bc0;
}

.tittle {
    font-family: 'ubuntu';
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
}

.btns-sub-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 11em;
    width: 16em;
    margin: 5em;
}

.btns-sub-cont a{
    font-family: 'ubuntu';
    text-align: center;
    text-transform: uppercase;
    height: 3em;
    padding: 0.9em;
    width: 100%;

    background-color: #ffffff;
    color: rgb(57, 54, 227);
    border: #fff solid 1px;
    border-radius: 2em;
} 

.btns-main-cont a:hover {
    background-color: #298ada;
    color: #fff;
    transition: .3s;
    transform: scale(1.1);
}

.img-worker {
    margin: .1em 0em 0em 5em;
    height: 650px;
    width: 800px;
}